.formGroup {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.authPage {
  
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 992px) {
    max-width: 940px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signUp {
  margin-bottom: 10px;
  font-weight: 300;
}

.formControl {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;

  @media (min-width: 400px) {
    width: 300px;
  }
}

.btn {
  color: #fff;
  background-image: none;
  background-color: #5cb85c;
  border-color: #5cb85c;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.btn:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #419641;
}

.btnLg {
}

.formEl {
  margin-top: 15px;
}

.tagDefault {
  color: #fff !important;
  background-color: #818a91;
  font-size: 0.8rem;
  padding-top: 0.3rem;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  padding-bottom: 0.3rem;
  white-space: nowrap;
  margin-right: 3px;
  margin-left: 3px;
  margin-bottom: 0.2rem;
  display: inline-block;
  border-radius: 40%;
}

.tagDefault[href]:hover {
  background-color: #687077;
}


.tagsList {
  margin-top: 15px;
}
